@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

*{
  box-sizing:border-box;
}
html,body{
  height:100%;
  position: fixed;
  top:0;left:0;bottom:0;right:0;
}
body{
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background:linear-gradient(to left, #bdc3c7, #2c3e50);
  color:black; 
}

.main-title{
  font-size:15px;
  font-family: 'Space Mono', monospace;
}

header{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:48px;
  border-bottom:1px solid rgba(255, 255, 255, 0.247);
  color:#2674a3;
  padding: 0px 10px;
  background:rgba(255, 255, 255, 0.514);
  display:flex;
  align-items:center;
  justify-content: space-between;
  font-family:'Space Mono', monospace;
  font-size:24pt;
  font-weight: bolder;
  color:black;
}

.logo {
  height:42px;
  margin-right:5px;

}
.logo-wrap{
  display: flex;
  align-items: center;
}

.text-input-wrap{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:48px;
  border-top:1px solid rgba(255, 255, 255, 0.247);
  background:rgba(255,255,255,0.2);
}

.text-input{
  border:1px solid black;
  width:100%;
  border-radius:15px;
  font-size:13px;
  padding:0 11px;
  position:absolute;
  left:4px;
  top:4px;
  height:32px;
  outline:none;
  width: calc(100% - 8px);
}

.text-input:focus{
  border: 1px solid blue;
  background: rgb(240,240,255);
}

.button:hover{
  background:rgba(50,50,155,0.9);
  color:white;
}

.button:focus{
  outline: none;
  border:1px solid rgba(200,200,255,0.9);
}

.button:disabled{
  color:black;
  background:rgba(175, 175, 175, 0.555);
}

.button{
  cursor:pointer;
  position:absolute;
  right:8px;
  top:8px;
  height:24px;
  border-radius:1000px;
  border: 1px solid black;
}

.messages{
  height:calc(100vh - 96px);
  width:100vw;
  position: absolute;
  top:48px;
  left:0px;
  display:flex;
  flex-direction: column-reverse;
  overflow-y:scroll;
}

.message-wrap{
  width:100%;
}

.message{
  color:white;
  background:black;
  margin:5px;
  border-radius:5px;
  padding:3px 6px;
  display: inline-block;
  font-family: 'IBM Plex Sans', sans-serif;
}

.edit-username{
  display: flex;
  align-items: center;
  font-size:10pt;
  font-weight:bolder;
}

.name-button{
  height:29px;
  margin:0 6px;
  background:transparent;
  color:black;
  font-size:18px;
  padding:4px;
  cursor: pointer;
  border:none;
  outline:none;
  border-radius: 4px;
}

.name-button:hover{
  background:rgba(255,255,255,0.1)
}

.name-input{
  color:white;
  height:31px;
  border:1px solid white;
  border-radius:14px;
  padding-left:12px;
  background:#1f1e2e;
  padding-bottom:2px;
  font-size:12px;
  outline:none;
}

.username{
  display: flex;
  align-items: center;
  margin-right:12px;
  font-size:1.1rem;
}