@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100&display=swap');

*{
  box-sizing:border-box;
}

html{
  height:100%;
}

body{
  font-family:"IBM Plex Sans",sans-serif;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background: linear-gradient(to left, #bdc3c7, #2c3e50);  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:black;
}

header{
  text-align:left;
  font-size:13pt;
  font-family: 'Space Mono', monospace;
  padding-bottom:0px;
  padding-right:30px;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:30px;
  border-bottom:3px solid black;
  color:black;
  background: linear-gradient(to left, #bdc3c7, #2c3e50); 
  display:flex;
  align-items:center;
}

header img{
  height:20px;
  mix-blend-mode: multiply;
}

header p{
  margin-right:30px;
  margin-bottom:20px;
}

.text-in{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:45px;
  border-top:3px solid black;
  background: linear-gradient(to left, #bdc3c7, #2c3e50); 
  display:flex;
  flex-direction:row;
  align-items:center;
}

input{
  width:256px;
  height:35px;
  border: 2px solid black;
  border-radius:100px;
  font-size:12pt;
  padding-left:5px;
  margin-top:-2px;
  margin-right:-3px;
  background:gray;
  outline:none;
}

form{
  position: relative;
  display: inline-flex;
}

.text-in button{
  width:30px;
  height:30px;
  border:1px solid gray;
  border-radius:100px;
  font-weight:bold;
  text-align:center;
  position: absolute;
  top: 0;
  right: 0;
  font-size:13pt;
  background:black;
  color:white;
}

.chat {
  width: 270px;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}

.messages {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 200000px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.yours {
  align-items: flex-start;
}

.yours .message {
  margin-right: 25%;
  background-color: gray;
  position: relative;
  color:white;
}

.yours .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  border-bottom-right-radius: 15px;
}
.yours .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  border-bottom-right-radius: 10px;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: white;
  margin-left: 25%;
  background: black;
  background-attachment: fixed;
  position: relative;
}

.mine .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  border-bottom-left-radius: 10px;
}